# --- Python / Flask ---
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
instance/
*.db
.pytest_cache/
.coverage

# --- Node / React ---
node_modules/
dist/
*.local

# --- Editors / OS ---
.DS_Store
.idea/
.vscode/
*.swp
/Users/mani/Documents/Hemanth Space/Career/KubernetesHandsOn/petshop/backend/.venv/lib/python3.9/site-packages/markupsafe-3.0.3.dist-info/WHEEL